<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenido a <%= title %></p>
     <p>Tu web para crear cuestionarios</p>
     <p><a href="/quizes/question">Empiece a jugar</a></p>
  </body>
</html>
